$colorMap: (
  main: #f46f17,
  dark: #121212,
  gray: #363636,
  light: #888,
  box: #f7f7f7,
  error: #fb6061,
  success: #65cc3d,
  info: #2f80ed,
  background: #fff,
  text-additional: #fff,
);

@function color($key) {
  @return map-get($colorMap, $key);
}
